<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <a href="/home" class="logoimage"><img src='../static/assets/pet.png' width="38" height="38"></a>
                <a href="/home">Loving Paws</a>
                <div class="dropdown">
                    <button class="dropbtn">Pets For Adoption 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/dogs">Dogs</a>
                        <a href="/cats">Cats</a>
                    </div>
                </div> 
                <a href="/login">Your Profile</a>
                <a href="/aboutus">About Us</a>
            </div>
            <hr>
        </header>

        <div class="aboutus-page">
            <h1 style="font-size: 40px;">About Us</h1>
            <img class="center" src="../static/assets/pet.png" width="150" height="150">
            <p class="aboutus">
                Welcome to our pet adoption website, where furry dreams find loving homes! We're dedicated to connecting compassionate individuals with adorable pets in need of a forever family. Our platform serves as a bridge between heartwarming stories and happy endings, where tails wag with joy and purrs fill the air. With a commitment to responsible adoption practices and the well-being of every animal, we strive to make the adoption process as seamless and rewarding as possible. Whether you're seeking a playful pup, a cuddly cat, or a charming critter, join us in our mission to make tails wag and hearts melt, one adoption at a time. Together, let's create endless moments of love and companionship, because every pet deserves a place to call home.    
            </p>
        </div>
    </body>
</html>