<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Pet</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <a href="/home" class="logoimage"><img src='../static/assets/pet.png' width="38" height="38"></a>
                <a href="/home">Loving Paws</a>
                <div class="dropdown">
                    <button class="dropbtn">Pets For Adoption 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/dogs">Dogs</a>
                        <a href="/cats">Cats</a>
                    </div>
                </div> 
                <a href="/login">Your Profile</a>
                <a href="/aboutus">About Us</a>
            </div>
            <hr>
        </header>

        <div class="aboutus-page">
            <h1 style="font-size: 40px;">Edit Pet</h1>
            <form method="post" enctype="multipart/form-data">
                <label for="pet_name_choice">Choose a pet:</label>
                    <select name="pet_name_choice" id="pet_name_choice">
                        {% for id in idList_edit %}
                            <option value="{{id}}">{{nameList_edit[idList_edit.index(id)]}}</option>
                            {% endfor %}
                    </select>
                <p><input type='submit'></p>
            </form>
        </div>
        
    </body>
</html>